      <h1>List Data Entries</h1>
      <h2>Query Date</h2>
      <p>The date queried is <%= year %>/<%= parseInt(month) + 1 %>/<%= day %>.</p>
      <p>There <% if (data.length === 1) { _%>is one datapoint<%_ } else { _%>are <%= data.length %> datapoints<%_ } %> associated with this date.</p>
      <table>
        <tr>
          <th>Date posted:</th>
          <th>Posted by:</th>
          <th>JSON data:</th>
        </tr>
        <% data.forEach(datum => { %>
        <tr>
          <td><a href="/editentry/<%= datum.id %>"><%= datum.date %></a></td>
          <td><a href="/editentry/<%= datum.id %>"><%= datum.owner %></a></td>
          <td><a href="/editentry/<%= datum.id %>"><%= JSON.stringify(datum.data) %></a></td>
        </tr>
        <% }); %>
      </table>
      <br />
      <p>
      <a href="/newentry/<%= year %>/<%= month %>/<%= day %>">New Entry for This Date</a>
      </p>
      <br />
